about-time==4.2.1
absl-py==2.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
annotated-types==0.7.0
astunparse==1.6.3
attrs==25.3.0
bokeh==3.7.1
certifi==2025.1.31
cffi==1.17.1
click==8.1.8
cloudpickle==1.6.0
contourpy==1.3.1
cycler==0.12.1
decorator==5.2.1
dm-tree==0.1.9
docker-pycreds==0.4.0
einops==0.8.1
filelock==3.13.1
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.6.1
future==0.18.2
gitdb==4.0.12
GitPython==3.1.44
gmsh==4.14.1
google-auth==1.24.0
google-auth-oauthlib==0.4.2
grapheme==0.6.0
grpcio==1.71.0
gym==0.26.2
gym-notices==0.1.0
h5py==3.13.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
Jinja2==3.1.4
keras==3.9.1
kiwisolver==1.4.8
libclang==18.1.1
lightning==2.5.0
lightning-utilities==0.14.2
loguru==0.7.2
Markdown==3.7
markdown-it-py==3.0.0
matplotlib==3.10.1
mdurl==0.1.2
meshio==5.3.5
moviepy==2.1.2
mpmath==1.3.0
namex==0.0.8
narwhals==1.32.0
networkx==3.3
numpy==2.1.2
nvidia-cublas-cu12==12.4.2.65
nvidia-cuda-cupti-cu12==12.4.99
nvidia-cuda-nvrtc-cu12==12.4.99
nvidia-cuda-runtime-cu12==12.4.99
nvidia-cufft-cu12==11.2.0.44
nvidia-curand-cu12==10.3.5.119
nvidia-cusolver-cu12==11.6.0.99
nvidia-cusparse-cu12==12.3.0.142
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.4.99
oauthlib==3.1.0
optree==0.14.1
packaging==24.2
pandas==2.2.3
pillow==10.4.0
platformdirs==4.3.7
plotly==6.0.1
pooch==1.8.2
proglog==0.1.10
propcache==0.3.1
psutil==7.0.0
pycparser==2.22
pydantic==2.11.0
pydantic_core==2.33.0
pyglet==1.5.11
Pygments==2.19.1
pyparsing==3.2.3
pytest==8.0.1
python-dotenv==1.1.0
pytorch-lightning==2.5.0
pytz==2025.2
pyvista==0.44.2
PyYAML==6.0.2
rdkit==2024.9.6
requests==2.32.3
requests-oauthlib==1.3.0
rich==13.9.4
scipy==1.15.2
scooby==0.10.0
seaborn==0.13.2
sentry-sdk==2.24.1
setproctitle==1.3.5
smmap==5.0.2
soundfile==0.13.1
sympy==1.13.1
tensorboard==2.19.0
tensorflow==2.19.0
tensorflow-addons==0.23.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-probability==0.25.0
tf_keras==2.19.0
torch-geometric==2.6.1
torchmetrics==1.6.3
torch==2.4.0 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.19.0 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.4.0 --index-url https://download.pytorch.org/whl/cu124
torch-scatter==2.1.2 --find-links https://pytorch-geometric.com/whl/torch-2.4.0+124.html
torch-sparse==0.6.18 --find-links https://pytorch-geometric.com/whl/torch-2.4.0+124.html
torch-cluster==1.6.3 --find-links https://pytorch-geometric.com/whl/torch-2.4.0+124.html
torch-spline-conv==1.2.2 --find-links https://pytorch-geometric.com/whl/torch-2.4.0+124.html
tornado==6.4.2
tqdm==4.67.1
triton==3.0.0
typeguard==2.10.0
tzdata==2025.2
vtk==9.3.1
wandb==0.19.8
Werkzeug==3.1.3
xyzservices==2025.1.0